<section class="hero is-success is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        All List
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="field">
          <%= form_with url: movies_path, method: :get, class: "control" do |form| %>
            <div class="columns">
              <div class="column is-three-quarters">
                <%= form.text_field :search, class: "input", placeholder: "キーワードを入力" %>
              </div>
              <div class="column">
                <%= form.submit "検索", class: "button is-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="columns is-multiline">
      <% if @movies.any? %>
        <% @movies.each do |movie| %>
          <div class="column is-one-third">
            <div class="card">
              <div class="card-content">
                <p class="title is-4"><%= link_to movie.title, movie %></p>
                <p class="subtitle is-6"><%= movie.created_at.strftime("%Y年%m月%d日") %></p>
                <div class="content">
                  <%= truncate(movie.introduction, length: 150) %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="column has-text-centered">
          <p class="has-text-grey-light">No results found.</p>
        </div>
      <% end %>
    </div>

  </div>
</section>