<div class="container" style="margin-left: 3%;">
  <div class="columns is-multiline">
    <div class="column is-full-mobile is-two-thirds-tablet video-container mt-4">
      <% if @movies.movies.attached? %>
        <% @movies.movies.each do |movie| %>
        <video src="<%= rails_blob_path(movie) %>" type="video/mp4" controls></video>
        <% end %>
      <% end %>
      <nav class="level">
        <h1 class="title mt-4 mb-0"><%= @movies.title %></h1>
        <div class="level-left">
          <div class="level-item">
            <% if @movies.user == current_user %>
              <div class="field is-grouped">
                <%= link_to "Edit", edit_movie_path(@movie), class: "button is-primary is-light"%>
                <%= button_to "Delete", @movie, method: :delete, class: "button is-danger is-light"%>
              </div>    
            <% end %>
          </div>
        </div>
      </nav>
      <div class="box media">
        <p>
          <strong>詳細:</strong>
          <%= @movies.introduction %>
        </p>
      </div>
    </div> 
    <div class="column is-full-mobile is-one-third-tablet mt-4">
    <div class="content">  
      <%= render 'comments/new', movie: @movie %>
      <div class="box menu mt-4">
        <h2 class="subtitle">コメント</h2>
        <div id="comments">
          <%= render @movie.comments %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

